---
layout: default
title: Comic
---
<h1>{{ page.label }}</h1>

{{ page.content }}

Back: <a href="{{ site.url | relative_url }}">{{ site.url | relative_url }}</a>

<hr/>

{% if page.thumb %}
  <div>
    Thumbnail
    <img src="{{ page.thumb }}"/>
  </div>
{% endif %}

{% assign chapters = site.collections | where: "label", page.identifier | first %}
<div>
  Chapters:
  {% for c in chapters.docs %}
    <pre>
      Number: {{ c.number }}
      Title: {{ c.title }}
      Label: {{ c.label }}
      Path: {{ c.path }}
      URL: <a href="{{ c.url | relative_url }}">{{ c.url | relative_url }}</a>
    </pre>
  {% endfor %}
</div>
